security:
  password_hashers:
    App\Entity\User:
      algorithm: auto

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: /symfony/login
        check_path: /symfony/login
        default_target_path: /symfony/contacts
      logout:
        path: /symfony/logout
        target: /symfony/login
      user_checker: App\Security\UserChecker

access_control:
  - { path: ^/symfony/admin, roles: ROLE_ADMIN }
  - { path: ^/symfony/contacts, roles: ROLE_USER }
  - { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
  - { path: ^/customer, roles: ROLE_USER }
